name: zero_ui_mobile
description: A new Flutter package project.
version: 0.0.1
homepage: "https://zero-ui-mobile.web.app/"

environment:
  sdk: '>=2.18.1 <3.0.0'
  flutter: '>=1.17.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  widgetbook: ^2.4.1
  flutter_svg: ^1.0.3
  dropdown_button2: ^1.9.2
  flutter_slidable: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  # To add assets to your package, add an assets section, like this:
  assets:
    - packages/zero_ui_mobile/assets/icons/star.svg
    - packages/zero_ui_mobile/assets/icons/star_half.svg
    - packages/zero_ui_mobile/assets/icons/star_outlined.svg
    - packages/zero_ui_mobile/assets/icons/star_outlined_half.svg
    - packages/zero_ui_mobile/assets/icons/rating_custom1.svg
    - packages/zero_ui_mobile/assets/icons/rating_custom2.svg
    - packages/zero_ui_mobile/assets/icons/rating_custom3.svg
    - packages/zero_ui_mobile/assets/icons/rating_custom4.svg
    - packages/zero_ui_mobile/assets/icons/rating_custom5.svg
    - packages/zero_ui_mobile/assets/icons/error_default.svg
    - packages/zero_ui_mobile/assets/icons/clear_default.svg
    - packages/zero_ui_mobile/assets/icons/arrow_down_default.svg
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
